/* ----- GLOBAL ------------------------------- */
body {
    font: normal 11px Verdana, Arial, sans-serif;
}

/* ----- HEADER ------------------------------- */
.navbar {
    overflow: hidden;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin: 1px auto;
    padding: 10px 10px;
}

.navbar a:hover {
    background-color: #444;
    color: white;
}

.navbar hr {

}

/* ----- HEADERS --------------------------------- */
h1 {
    text-transform: uppercase;
}

.center-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 50px;
    background: rgb(232,231,231);
    background: linear-gradient(0deg, rgba(232,231,231,1) 0%, rgba(219,233,249,1) 100%);
}

/* ----- BUTTONS AND MENUS ----------------------- */
.dd-select, .cycle-button {
    background: white;
}

.dd-select:hover, .cycle-button:hover {
    background: #444;
    color: white;
}

button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

/* ----- IMAGE DIV ------------------------------- */
.eval-img {
    max-width: 100%;
    height: auto;
    margin:  20px auto;
    padding: 1px;
}

/* ----- MISC. ----------------------------------- */
hr {
    width: 98%;
    background: #444;
    height: 1px;
}

/* ----- LEFTOVERS ------------------------------- */
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 12px;
    min-width: inherit;
}

.dropbtn {
    cursor: pointer;
    width: fit-content;
}

/* dropdown-content - hidden by def. */
.dropdown-content {
    display: none;
    position: absolute;
    left: 0px;
    background-color: #FFF;
    color: black;
    width: 120%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #89CFF0;}
.dropdown-content option:hover {background-color: #89CFF0;}

/*#img-select {
    background: rgb(232,231,231);
    background: radial-gradient(circle, rgba(232,231,231,1) 38%, rgba(192,216,244,1) 87%);
}*/

